<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span style="font-style:italic">Rails Tutorial Dot Org Chapter Two</span>
    <br />
    <a href="/users">Users</a>
     |
    <a href="/microposts">Microposts</a>
    <%= yield %>
  </body>
</html>
